$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$grey: hsl(0, 0%, 75%);
$greyishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
$black: #111;
$white: #fff;

body, html {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between
}

.navigation {
  align-items: center;
  display: flex;
}

.navigation li {
  list-style-type: none;
  padding: 1rem;
}

.navigation li a {
  color: $grey;
  text-decoration: none;
}

.navigation li a:active {
  color: $black;
  font-size: 1.5rem;
}

.login {
  display: flex;
}

.login li {
  list-style-type: none;
  padding: 1rem;
}

.login li a {
  color: $grey;
  text-decoration: none;
}