$light-cyan: hsl(180, 66%, 70%);
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$grey: hsl(0, 0%, 75%);
$grey-background: hsl(230, 25%, 95%);
$greyish-violet: hsl(257, 7%, 63%);
$very-sark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$black: #111;
$white: #fff;

html, body, #root, .App {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  font-weight: 700;
  padding: 1.2rem 0;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
}

button {
  background-color: $cyan;
  border: none;
  color: $white;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 2rem;
  padding: 0 1.5rem;

  &:hover, &:active {
    background-color: $light-cyan;
  }

  &:focus {
    outline: none;
  }
}

.btn-rounded {
  border-radius: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 2rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navigation {
  align-items: center;
  display: flex;
}

.navigation li {
  list-style-type: none;
  padding: 1rem;
}

.nav a {
  color: $grey;
  text-decoration: none;
}

.nav a:active,
.nav a:hover {
  color: $black;
}

.login {
  display: flex;
}

.login li {
  list-style-type: none;
  padding: 1rem;
}

// .login li a {
//   color: $grey;
//   text-decoration: none;
// }

.statistics {
  background-color: $grey-background;
  position: relative;
}

.blue-divider {
  background-color: $cyan;
  height: 0.5rem;
  left: 20%;
  position: absolute;
  top: 66%;
  width: 50%;
}

.statistics-intro {
  margin: 0 auto;
  text-align: center;
  width: 50%;

  p {
    color: $grey;
    line-height: 1.8rem;
  }
}

.selling-points {
  align-items: flex-start;
  display: flex;
  margin-top: 4rem;
}

.selling-point {
  background-color: $white;
  flex: 1 30%;
  margin: 1rem;
  padding: 1rem;
  z-index: 2;

  p {
    color: $grey;
    line-height: 1.5rem;
  }

  &:nth-child(2) {
    margin-top: 60px;
  }

  &:last-child {
    margin-top: 102px;
  }
}

.statistics-icon-container {
  background-color: $dark-violet;
  border-radius: 50px;
  display: flex;
  height: 80px;
  justify-content: center;
  margin-top: -60px;
  width: 80px;

  img {
    align-self: center;
  }
}

.links {
  align-items: center;
  background-color: $dark-violet;
  background-image: url('/images/bg-boost-desktop.svg');
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.footer {
  background-color: $very-dark-violet;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4.5rem 5rem;
  width: 100%;
}

.footer-logo{
  flex-basis: 33%;
  svg path {
    fill: $white;
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-link-list-wrapper {
  margin: 0 1rem;
}

.footer-link-list {
  li a {
    color: $grey;
    line-height: 2em;
    text-decoration: none;

    &:hover {
      color: $cyan;
    }
  }
}

.footer-social {
  a {
    margin: 0.5rem;
  }
}

.social-icon {
  path {
    &:hover {
      fill: $cyan;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1.5rem 2rem;
  }

  .statistics-intro {
    width: 100%;
  }

  .selling-points {
    flex-wrap: wrap;
  }

  .selling-point {
    flex: 1 100%;

    &:last-child {
      margin-top: 60px;
    }
  }

  .statistics-icon-container {
    margin-left: auto;
    margin-right: auto;
  }

  .blue-divider {
    height: 50%;
    left: 49%;
    top: 40%;
    width: 0.5rem;
  }

  .footer {
    justify-content: center;
  }

  .footer-logo {
    flex-basis: 100%;
    text-align: center;
  }

  .footer-links {
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .footer-link-list-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 1.2em;
  }

  .footer-link-list-wrapper {
    flex-basis: 100%;
  }
}